body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-y: hidden;
}

.main {
  width: 100%;
}

nav {
  width: 100%;
  background-color: black;
  height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
}

.logo--img {
  height: 50px;
  width: auto;
  border-radius: 100%;
  padding: 15px 10px;
}
/* .logo a {
  font-size: 30px;
  color: orange;
  font-weight: bold;
  margin-left: 20px;
} */

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.5s all ease;
}
ul {
  margin: 0px;
  margin-right: 20px;
}
ul li {
  float: left;
  padding: 0px 10px;
  list-style: none;
}
ul li a:hover {
  color: orange;
}
.header {
  background: url("./images/CountryHouse.PNG");
  height: 100vh;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content h1 {
  font-size: 50px;
}
.content p {
  padding: 0px 100px;
  font-size: 20px;
}
button {
  background: none;
  border: 1px solid #fff;
  color: white;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 6px;
  transition: 0.5s all ease;
}

button:hover {
  background: black;
  color: orange;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
}
